
<!-- <h1 class="text-center"> Halaman About </h1> -->

<div class="text-center">

    <img src="img/priana.jpg" alt="" class="rounded-circle img-thumbnail w-50">

    <h1 class="h2">Priana Saputra</h1>
    <p class="lead">Fullatack Developer</p>

</div>



