

<div class="container">
    <div class="row">

        <div class="col-md-12">

            <h1> Detail Kontak </h1>


            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= contact.nama %></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><%= contact.hp %></h6>
                <!-- <p class="card-text">herian.sap@gmail.com</p> -->
                <a href="/kontak" class="card-link">Kembali ke daftar Kontak</a>
                
              </div>
            </div>

        </div>
    </div>
</div>
