

<div class="container">
    <div class="row">

        <div class="col-md-6">

            <h1> Tambah Kontak </h1>

            <form action="/kontak/tambah" method="post">
              <div class="mb-3">
                <label for="nama" class="form-label">Nama</label>
                <input name="nama" type="text" class="form-control" id="nama">               
              </div>
              <div class="mb-3">
                <label for="hp" class="form-label">No HP</label>
                <input name="hp" type="text" class="form-control" id="hp">
              </div>
            
              <a href="/kontak" type="submit" class="btn btn-secondary"><< Batal</a>

              <button type="submit" class="btn btn-primary">Simpan</button>

            </form>

        </div>
    </div>
</div>
